@import "~bootstrap-icons/font/bootstrap-icons.css";
$color-primary: #3c3939;
$color-secondary: #a1dd70;
$color-accent: #fdfff0;
$color-background: #e8ecd6;
$color-highlight: #a23131;

$font-primary: "Prociono", cursive;
$font-secondary: "Nunito", sans-serif;
$font-heading: "Baskerville", serif;

body {
  font-family: $font-secondary !important;
  background-color: $color-background !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-primary;
}
