<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/Categories"
          routerLinkActive="active"
          >Categories</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/plates"
          routerLinkActive="active"
          >Plates</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/menus"
          routerLinkActive="active"
          >Menus</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/Orders"
          routerLinkActive="active"
          >Orders</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/users"
          routerLinkActive="active"
          >Users</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
